<section class="feature-container">
  <div class="feature-content">
    <h3 class="feature-title">&lt;Here is what you get&gt;</h3>
    <div class="feature-content-box">
      <img class="feature-icon" src="/svg/icon1.svg" height="64px" width="112px" alt="icon" />
      <div class="feature-content-box-item">
        <div class="feature-content-box-title">
          Creatred to Make The Web Better
        </div>
        <div class="feature-content-box-text">
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </div>
      </div>
    </div>
    <div class="feature-content-box">
      <img class="feature-icon" src="/svg/icon2.svg" height="64px" width="112px" alt="icon" />
      <div class="feature-content-box-item">
        <div class="feature-content-box-title">Incredibly Powerful Tool</div>
        <div class="feature-content-box-text">
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
          ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
          luctus. Aliquam erat volutpat.
        </div>
      </div>
    </div>
    <div class="feature-content-box">
      <img class="feature-icon" src="/svg/icon3.svg" height="64px" width="112px" alt="icon" />
      <div class="feature-content-box-item">
        <div class="feature-content-box-title">Experimental Stuff</div>
        <div class="feature-content-box-text">
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
          ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
          luctus. Aliquam erat volutpat.
        </div>
      </div>
    </div>
    <div class="feature-content-box">
      <img class="feature-icon" src="/svg/icon4.svg" height="64px" width="112px" alt="icon" />
      <div class="feature-content-box-item">
        <div class="feature-content-box-title">
          Creatred to Make The Web Better
        </div>
        <div class="feature-content-box-text">
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
          ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
          luctus. Aliquam erat volutpat.
        </div>
      </div>
    </div>
    <img class="feature-content-img320" src="/img/editor320.png" alt="" />
    <img class="feature-content-img768" src="/img/editor768.png" alt="" />
  </div>
</section>