<header>
    <div class="container">
        <div class="header-block">
            <div class="header-block__list">
                <a href="#" class="header-block__icon"></a>
                <span class="header-block__text">FORKIO</span>
            </div>
            <button class="header-block__button">Buy Now</button>
        </div>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="nav">
            <ul class="nav-menu">
                <li class="nav-item"><a href="#">Overview</a></li>
                <li class="nav-item"><a href="#">About Fork</a></li>
                <li class="nav-item"><a href="#">Buying Options</a></li>
                <li class="nav-item"><a href="#">Support</a></li>
                <li class="nav-item buyNow1200"><a href="#">Buy Now</a></li>
            </ul>
        </nav>
    </div>
</header>
