<section class="main-wrapper">
    <div class="main-app">
        @@include('header.html')
        <h1 class="main-app__title">Fork App</h1>
        <div class="main-app__gamechanger">
            A real gamechanger in the world of web development
        </div>
        <div class="main-app__windows">v. 2.8 For Mac and Windows</div>
    </div>
</section>
<div class="main-btn">
    <button class="main-btn__download">Download For Free Now</button>
    <div class="main-btn__days">Unlimited 30-Days Trial Period</div>
</div>
