<section class="pricing-container">
  <div class="pricing-content">
    <h2 class="pricing-title">Fork Subscription Pricing</h2>
    <ul class="pricing-card-list">
      <li class="pricing-card-item">
        <div class="pricing-card-item-title">Students</div>
        <ul class="pricing-card-item-content">
          <li class="pricing-card-item-content-price">$29</li>
          <li class="pricing-card-item-content-period">per month</li>
          <li class="pricing-card-item-content-licence">Personal License</li>
          <li class="pricing-card-item-content-button">purchase</li>
        </ul>
      </li>
      <li class="pricing-card-item">
        <div class="pricing-card-item-title">professional</div>
        <ul class="pricing-card-item-content">
          <li class="pricing-card-item-content-price">$59</li>
          <li class="pricing-card-item-content-period">per month</li>
          <li class="pricing-card-item-content-licence">
            Professional License Email Support
          </li>
          <li class="pricing-card-item-content-button">purchase</li>
        </ul>
      </li>
      <li class="pricing-card-item">
        <div class="pricing-card-item-title">agency</div>
        <ul class="pricing-card-item-content">
          <li class="pricing-card-item-content-price">$99</li>
          <li class="pricing-card-item-content-period">per month</li>
          <li class="pricing-card-item-content-licence">
            1-12 Team Members Phone Support
          </li>
          <li class="pricing-card-item-content-button">purchase</li>
        </ul>
      </li>
      <li class="pricing-card-item">
        <div class="pricing-card-item-title">enterprise</div>
        <ul class="pricing-card-item-content">
          <li class="pricing-card-item-content-price">$159</li>
          <li class="pricing-card-item-content-period">per month</li>
          <li class="pricing-card-item-content-licence">
            Unlimited Team Members 24 / 7 Phone Support
          </li>
          <li class="pricing-card-item-content-button">purchase</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
