<section class="revolutionary-container">
  <div class="revolutionary-content">
    <h2 class="revolutionary-title">Revolutionary editor</h2>
    <p class="revolutionary-text">
      Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
      vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
    </p>
    <div class="revolutionary-github-container">
      <div class="revolutionary-github-btn-box">
        <button class="revolutionary-github-btn">
          <i class="fas fa-eye"></i>Watch
        </button>
        <div class="revolutionary-github-btn-int">1,397</div>
      </div>
      <div class="revolutionary-github-btn-box">
        <button class="revolutionary-github-btn">
          <i class="fas fa-star"></i>Star
        </button>
        <div class="revolutionary-github-btn-int">21,038</div>
      </div>
      <div class="revolutionary-github-btn-box">
        <button class="revolutionary-github-btn">
          <i class="fas fa-code-branch"></i>Fork
        </button>
        <div class="revolutionary-github-btn-int">4,391</div>
      </div>
    </div>
  </div>
</section>
