<section class="testimonials-wrapper">
    <h2 class="testimonials-wrapper__title">People Are Talking About Fork</h2>
    <ul class="testimonials">
        <li class="testimonials__total">
            <img class="testimonials__picture"
                 src="../img/smashing.png"
                 alt="smashing"
            />
            <p class="testimonials__talking">
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
            </p>
        </li>
        <li class="testimonials__total">
            <img class="testimonials__picture"
                 src="../img/codrops.png"
                 alt="codrops"
            />
            <p class="testimonials__talking">
                Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus
                molestie neque ac, mollis eleifend nibh..
            </p>
        </li>
        <li class="testimonials__total">
            <img class="testimonials__picture"
                 src="../img/logo_circle_w.png"
                 alt="smashing"
            />
            <p class="testimonials__talking">
                In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
                fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
            </p>
        </li>
        <li class="testimonials__total">
            <img class="testimonials__picture"
                 src="../img/pixel.png"
                 alt="smashing"
            />
            <p class="testimonials__talking">
                Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
            </p>
        </li>
        <li class="testimonials__total">
            <img class="testimonials__picture"
                 src="../img/creative.png"
                 alt="smashing"
            />
            <p class="testimonials__talking">
                Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla
                faucibus lorem id arcu consequat faucibus.
            </p>
        </li>
        <li class="testimonials__total">
            <img class="testimonials__picture" src="../img/tnw.png" alt="smashing"/>
            <p class="testimonials__talking">
                Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
                Pellentesque porttitor cursus massa et vestibulum.
            </p>
        </li>
    </ul>

    <div class="total-comment">
        Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis
        vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt
        consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus.
    </div>
</section>
