.feature-container {
  font-family: $fontFamilyM;
  display: flex;
  justify-content: center;
  background-color: $backgroundMain;
  min-width: $minWidthContainer;
  max-width: $maxWidthContainer;

  .feature-content {
    position: relative;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    img {
      width: 100%;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .feature-container {
    background-color: $white;

    .feature-content {
      flex-direction: column;
      width: 100%;

      .feature-title {
        padding: 32px;
        margin: 0;
        color: $featureTitleColor;
        font-weight: $fw7;
        font-size: 32px;
        line-height: 38px;
      }

      .feature-content-box {
        padding: 0 15px 37px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .feature-content-box-item {
          display: flex;
          flex-direction: column;

          .feature-content-box-title {
            padding: 27px 0 14px;
            font-weight: $fw4;
            font-size: 16px;
            line-height: 16px;
            color: $light-black;
          }

          .feature-content-box-text {
            font-family: $fontFamilyL;
            font-weight: $fw4;
            font-size: 14px;
            line-height: 21px;
            color: $dark-gray;
          }
        }
      }

      .feature-content-img768 {
        display: none;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .feature-container {
    background-color: $white;

    .feature-content {
      width: 100%;

      .feature-title {
        padding: 62px 80px 52px 80px;
        margin: 0;
        color: $featureTitleColor;
        font-weight: $fw7;
        font-size: 42px;
        line-height: 44px;
      }

      .feature-content-box {
        padding: 0 20px 55px;
        display: flex;
        text-align: center;
        justify-content: flex-start;

        .feature-icon {
          max-width: 112px;
        }

        .feature-content-box-item {
          display: flex;
          align-items: start;
          flex-direction: column;

          .feature-content-box-title {
            padding: 0 0 16px;
            font-weight: $fw7;
            font-size: 16px;
            line-height: 21px;
            color: $light-black;
          }

          .feature-content-box-text {
            text-align: start;
            font-family: $fontFamilyL;
            font-weight: $fw4;
            font-size: 14px;
            line-height: 21px;
            color: $dark-gray;
          }
        }
      }

      .feature-content-img320 {
        display: none;
      }
    }
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .feature-container {
    background: $featureBG;

    .feature-content {
      padding-top: 100px;
      width: 100%;

      .feature-title {
        position: absolute;
        left: 615px;
        top: 94px;
        margin: 0;
        color: $featureTitleColor;
        font-weight: $fw7;
        font-size: 48px;
        line-height: 50px;
      }

      .feature-content-box {
        padding: 0 54px 36px 90px;
        max-width: 540px;
        display: flex;
        align-items: start;
        text-align: center;

        .feature-icon {
          max-width: 112px;
        }

        .feature-content-box-item {
          display: flex;
          align-items: start;
          flex-direction: column;

          .feature-content-box-title {
            padding: 0 0 16px;
            font-weight: $fw4;
            font-size: 16px;
            line-height: 21px;
            color: $light-black;
          }

          .feature-content-box-text {
            text-align: start;
            font-family: $fontFamilyL;
            font-weight: $fw4;
            font-size: 14px;
            line-height: 21px;
            color: $dark-gray;
          }
        }
      }

      .feature-content-img320 {
        display: none;
      }

      .feature-content-img768 {
        position: absolute;
        height: 520px;
        width: 50%;
        left: 50%;
        top: 175px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .feature-container {
    margin: 0 auto;
    width: 100%;
    background: $featureBG;

    .feature-content {
      padding-top: 100px;
      width: 100%;

      .feature-title {
        position: absolute;
        left: 615px;
        top: 94px;
        margin: 0;
        color: $featureTitleColor;
        font-weight: $fw7;
        font-size: 48px;
        line-height: 50px;
      }

      .feature-content-box {
        padding: 0 54px 36px 90px;
        max-width: 540px;
        display: flex;
        align-items: start;
        text-align: center;

        .feature-icon {
          max-width: 112px;
        }

        .feature-content-box-item {
          display: flex;
          align-items: start;
          flex-direction: column;

          .feature-content-box-title {
            padding: 0 0 16px;
            font-weight: $fw4;
            font-size: 16px;
            line-height: 21px;
            color: $light-black;
          }

          .feature-content-box-text {
            text-align: start;
            font-family: $fontFamilyL;
            font-weight: $fw4;
            font-size: 14px;
            line-height: 21px;
            color: $dark-gray;
          }
        }
      }

      .feature-content-img320 {
        display: none;
      }

      .feature-content-img768 {
        position: absolute;
        height: 520px;
        width: 50%;
        left: 600px;
        top: 175px;
      }
    }
  }
}