
header {
  display: flex;
  justify-content: space-around;
  background: $backgroundHeader;
  width: 100%;

  .buyNow1200 {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .header-block {
    display: flex;
    align-items: center;
    width: 240px;
    justify-content: space-around;
  }

  .header-block__list {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .header-block__icon {
    width: 43px;
    height: 43px;
    background-repeat: no-repeat;
    margin: 26px 4px 26px 4px;
    background-image: url(../svg/logo.svg);
  }

  .header-block__text {
    font-weight: 700;
    font-size: 24px;
    color: $button-main;
    margin-left: 12px;
    margin-top: 4px;
  }

  .header-block__button {
    width: 119px;
    height: 37px;
    background: $button-main;
    border-radius: 40px;
    font-weight: 700;
    font-size: 15px;
    color: $white;
    border: 1px solid $button-main;
    cursor: pointer;
  }

  .burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    padding: 5px;

    span {
      display: block;
      height: 3px;
      background-color: red;
      transition: all 0.3s ease-out;
    }

    &.burger--crossed span:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
      width: 26px;
    }

    &.burger--crossed span:nth-child(2) {
      opacity: 0;
    }

    &.burger--crossed span:nth-child(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }


  .nav {
    ul.nav-menu {
      display: flex;
      list-style: none;

      li.nav-item {
        padding: 3px;

        &:last-child {
          margin-right: 0;

          a {
            color: $white;
          }

          a:hover {
            color: $button-main !important;;
          }
        }

        a {
          color: $white;
          text-decoration: none;
          transition: color 0.3s;
          padding: 7px 17px 7px 17px;

          &:hover {
            color: $button-main;
            border-left: 8px solid;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  header .header-block__text {
    display: none;
  }

  header .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 44px;
    height: 32px;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;

    span:first-child {
      width: 15px;
      margin-right: 4px;
    }

    span {
      display: block;
      height: 2px;
      width: 26px;
      margin: auto;
      background-color: white;
      transition: all 0.3s ease-out;
    }
  }

  header .nav {
    position: fixed;
    top: 3em;
    right: -100%;
    width: 182px;
    background-color: rgba(#333333, 1);
    overflow-y: auto;
    transition: right 0.3s;

    ul.nav-menu {
      display: block;
      padding: 0;
      text-align: left;

      li.nav-item {
        padding: 19px 2px;
        border-bottom: 3px solid #3b3b3b;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          text-decoration: none;
          transition: color 0.3s;
          font-weight: 400;
          font-size: 26px;
        }
      }
    }

    &.nav--open {
      right: 12px;
      width: 292px;
      top: 94px;
      height: 330px;
    }
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  header .nav ul.nav-menu {
    margin-bottom: 16px;
  }

  header .header-block__icon {
    margin: 13px 4px 10px 4px;
  }
  header .nav ul.nav-menu li.nav-item a {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  header {
    li.nav-item a:hover {
      border-left: none !important;
      color: $white !important;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }
  }

  header .container {
    flex-direction: column;
  }

  .header-block__button:hover {
    background-color: $white;
    color: $button-main;
  }

  .header-block__list:hover {
    a {
      background-image: url(../svg/logo_white.svg);
    }

    span {
      color: $white;
    }
  }

  header .header-block {
    width: 100%;
    justify-content: space-between;
    padding: 0 20px 0 20px;
  }
  li.nav-item a {
    color: #8d81ac !important;
  }
}

@media (min-width: 993px) {
  header {
    background: none;

    header .nav ul.nav-menu li.nav-item a {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }

    .buyNow1200 {
      display: flex;
      width: 119px;
      height: 37px;
      background: #8d81ac;
      border-radius: 40px;
      border: 1px solid #8d81ac;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      margin-left: 10px;

      a {
        color: $white;
      }
    }

    .buyNow1200:hover {
      background-color: $white;
    }

    .header-block__list:hover {
      a {
        background-image: url(../svg/logo_white.svg);
      }

      span {
        color: $white;
      }
    }

    .container {
      padding: 30px 90px 0 90px;
    }

    .header-block__button {
      display: none;
    }

    .header-block__text {
      font-weight: 700;
      font-size: 24px;
      color: #8d81ac;
      margin-left: 17px;
    }

    li.nav-item {
      font-weight: 700;
      font-size: 16px;
    }

    li.nav-item a:hover {
      color: $button-main;
    }

    .nav {
      ul.nav-menu {
        display: flex;
        justify-content: space-around;

        li.nav-item {
          font-weight: 700;
          font-size: 16px;

          a {
            color: $button-main;
            text-decoration: none;
            transition: color 0.3s;
            padding: 7px 17px 7px 17px;
          }
        }
      }
    }

    .nav .nav-menu .nav-item a:hover {
      color: white !important;
      border-left: none !important;
    }
  }
}

