.main-wrapper {
  background-image: url(../img/fork_app_1200.png);
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  height: 718px;
  background-position: center;
  background-size: cover;
}

.main-wrapper__imglapton {
  width: 100%;
}

.main-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-app__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 19px;
  text-align: center;
}

.main-app__gamechanger {
  font-weight: 400;
  font-size: 18px;
  color: #8d81ac;
  margin-bottom: 14px;
  text-align: center;
}

.main-app__windows {
  font-weight: 400;
  font-size: 14px;
  color: #848e97;
  text-transform: uppercase;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  content: "";
}


.main-btn__download {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 13px;
  color: $white;
  width: 290px;
  height: 45px;
  background: $button-main;
  border-radius: 40px;
  border: 1px solid $button-main;
  cursor: pointer;
  position: absolute;
}

.main-btn__download:hover {
  background-color: $white;
  color: $button-main;
}

.main-btn__days {
  font-weight: 400;
  font-size: 14px;
  color: #848e97;
  position: absolute;
  bottom: -41px;
}

@media (min-width: 481px) and (max-width: 992px) {
  .main-app__title {
    padding-top: 65px;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
  }

  .main-app__gamechanger {
    font-size: 24px;
    line-height: 24px;
  }

  .main-wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  .main-btn {
    position: relative;
    background-color: $white;
    top: 0;
    left: 0;
  }
  .main-btn__download {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-btn__days {
    bottom: -48px;
  }
}

@media (min-width: 993px) {
  .main-wrapper {
    height: 800px;
  }
  .main-app__title {
    padding-top: 65px;
    font-weight: 700;
    font-size: 82px;
    line-height: 82px;
  }
  .main-app__gamechanger {
    font-size: 38px;
    line-height: 38px;
  }
  .main-wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .main-btn {
    position: relative;
    background-color: #fff;
    top: 0;
    left: 0;
  }

  .main-btn__download {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-btn__days {
    bottom: -48px;
  }
}

@media (min-width: 1200px) {
  .main-wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}


