.pricing-container {
  font-family: $fontFamilyM;
  display: flex;
  justify-content: center;
  min-width: $minWidthContainer;
  max-width: $maxWidthContainer;
}

.pricing-content {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: $white;
}

.pricing-title {
  font-weight: $fw7;
}

.pricing-card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 18px;
  margin: 0 auto;
  padding-bottom: 12px;

  .pricing-card-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 245px;
    height: 457px;

    .pricing-card-item-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 97px;
      background: rgb(255, 255, 255, 0.06);
      text-transform: uppercase;
      font-weight: $fw4;
      font-size: 24px;
      line-height: 24px;
    }

    .pricing-card-item-content {
      position: relative;
      padding: 30px 22px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgb(255, 255, 255, 0.11);
      height: 100%;

      .pricing-card-item-content-price {
        font-size: 60px;
        font-weight: $fw7;
        line-height: 62px;
      }

      .pricing-card-item-content-period {
        margin-top: 20px;
        font-weight: $fw4;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
      }

      .pricing-card-item-content-licence {
        margin-top: 73px;
        font-weight: $fw4;
        font-size: 16px;
        line-height: 32px;
        height: 100%;
      }

      .pricing-card-item-content-button {
        margin-bottom: 37px;
        font-weight: 400;
        font-size: 15px;
        cursor: pointer;
        line-height: 15px;
        background: rgb(255, 255, 255, 0.15);
        padding: 15px 38px;
        border-radius: 45px;
        text-transform: uppercase;
      }
    }

    .pricing-card-item-content::after {
      content: "";
      position: absolute;
      top: 163px;
      width: 60px;
      height: 5px;
      background: #8d81ac;
    }
  }

  .pricing-card-item:nth-child(3) {
    width: 280px;
    height: 560px;

    .pricing-card-item-title {
      background: rgb(0, 0, 0, 0.11);
    }

    .pricing-card-item-content {
      background: rgb(141, 129, 172, 0.06);

      .pricing-card-item-content-price {
        font-weight: $fw7;
        font-size: 82px;
        line-height: 90px;
      }

      .pricing-card-item-content-button {
        font-size: 16px;
        line-height: 18px;
        padding: 18px 48px;
      }
    }

    .pricing-card-item-content::after {
      top: 193px;
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .pricing-container {
    margin: 0;

    .pricing-content {
      background: url(/img/pricing_bg_320.png) center/cover no-repeat;

      .pricing-title {
        font-size: 28px;
        line-height: 42px;
        padding-top: 23px;
        margin-bottom: 32px;
      }

      .pricing-card-list {
        flex-direction: column;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .pricing-content {
    background: url(/img/pricing_bg_768.png) center/cover no-repeat;
  }

  .pricing-title {
    font-size: 28px;
    line-height: 44px;
    padding-top: 90px;
    margin-bottom: 39px;
  }

  .pricing-card-list {
    flex-wrap: wrap;
    row-gap: 71px;
    column-gap: 15px;
    padding-bottom: 150px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .pricing-container {
    margin: 0;

    .pricing-content {
      background: url(/img/pricing_bg_1200.png) center/cover no-repeat;
    }

    .pricing-title {
      font-size: 48px;
      line-height: 50px;
      padding-top: 105px;
      margin-bottom: 112px;
    }

    .pricing-card-list {
      padding-bottom: 150px;
      flex-wrap: wrap;
      column-gap: 15px;
    }
  }
}

@media (min-width: 1200px) {
  .pricing-container {
    margin: 0 auto;
    width: 100%;
    .pricing-content {
      background: url(/img/pricing_bg_1200.png) center/cover no-repeat;
    }

    .pricing-title {
      font-size: 48px;
      line-height: 50px;
      padding-top: 105px;
      margin-bottom: 112px;
    }

    .pricing-card-list {
      padding-bottom: 150px;
      flex-wrap: wrap;
      column-gap: 15px;
    }
  }
}
