.revolutionary-container {
  font-family: $fontFamilyM;
  display: flex;
  justify-content: center;
  background-color: $white;
  min-width: $minWidthContainer;
  max-width: $maxWidthContainer;

  .revolutionary-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;

    .revolutionary-title {
      text-transform: uppercase;
      font-weight: $fw7;

      color: $revolutionaryTitleColor;
    }

    .revolutionary-text {
      font-family: $fontFamilyL;
      color: $revolutionaryTextColor;
      font-weight: $fw4;
    }

    .revolutionary-github-container {
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .revolutionary-github-btn-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .revolutionary-github-btn {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          cursor: pointer;
          height: 26px;
          width: 70px;
          border: 1px solid $githubBtnBorderColor;
          border-radius: 3px 0 0 3px;
        }

        .revolutionary-github-btn-int {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          width: 40px;
          border: 1px solid $githubBtnBorderColor;
          border-left: none;
          border-radius: 0 3px 3px 0;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .revolutionary-content {
    padding: 52px 24px 88px;

    .revolutionary-title {
      font-size: 26px;
      line-height: 28px;
      margin-bottom: 27px;
    }

    .revolutionary-text {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 36px;
    }

    .revolutionary-github-container {
      width: 250px;
    }
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .revolutionary-content {
    padding: 88px 40px 98px;

    .revolutionary-title {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 33px;
    }

    .revolutionary-text {
      margin-bottom: 24px;
      font-size: 21px;
      line-height: 32px;
    }

    .revolutionary-github-container {
      width: 365px;
    }
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .revolutionary-content {
    padding: 129px 130px 70px;

    .revolutionary-title {
      font-size: 54px;
      line-height: 54px;
      margin-bottom: 35px;
    }

    .revolutionary-text {
      margin-bottom: 13px;
      font-size: 21px;
      line-height: 32px;
    }

    .revolutionary-github-container {
      width: 365px;
    }
  }
}

@media (min-width: 1200px) {
  .revolutionary-container {
    margin: 0 auto;

    .revolutionary-content {
      padding: 129px 130px 70px;

      .revolutionary-title {
        font-size: 54px;
        line-height: 54px;
        margin-bottom: 35px;
      }

      .revolutionary-text {
        margin-bottom: 13px;
        font-size: 21px;
        line-height: 32px;
      }

      .revolutionary-github-container {
        width: 365px;
      }
    }
  }
}
