.testimonials-wrapper {
  background-image: url(../img/testmonials-bg.png);
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0 25px 0 25px;
  background-position: center;
  background-size: cover;
}

.testimonials-wrapper__title {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 57px;
  margin-bottom: 53px;
}

.testimonials__total {
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.testimonials__picture {
  padding-bottom: 32px;
  background-size: cover;
}

.testimonials__talking {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  display: flex;
}

.total-comment {
  text-align: center;
  padding-bottom: 22px;
  border-bottom: 2px solid #645766;
}

@media (min-width: 481px) and (max-width: 992px) {
  .testimonials-wrapper {
    width: 100%;
    margin: 0 auto;

    .testimonials {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    .testimonials__total {
      flex-basis: 45%;
      margin-bottom: 20px;
    }

    .testimonials__picture {

      height: auto;
    }

    .testimonials__talking {
      text-align: center;
      margin-top: 10px;
    }

    .total-comment {
      border-bottom: 2px solid #645766;
    }
  }
}

@media (min-width: 993px) {
  .testimonials-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .testimonials {
    display: flex;
    flex-wrap: wrap;
  }

  .testimonials__total {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials__picture {
    max-width: 100%;
    height: auto;
  }

  .testimonials__talking {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .testimonials-wrapper {
    width: 1200px;
    margin: 0 auto;
  }
}