$backgroundHeader: #27262A;
$burger-color: #F5F5F5;
$burger-color-text: #4E4E4E;
$button-main: #8D81AC;
$secondary-color: #E20F0F;
$burger-background: #333333;
$white: #ffffff;
$black: #000000;
$dark-gray: #848E97;
$light-gray: #A291A5;
$light-black:#323232;
$backgroundMain: rgba(0, 0, 0, 0.0001);
$burger-color: #f5f5f5;
$burger-color-text: #4e4e4e;
$burger-hover: #e5e5e5;
$secondary-color: #2c3e50;
$accent-color: #57a4a4;
$white: #fff;
$black: #000;
$light-gray: #ecf0f1;
$dark-gray: #7f8c8d;
$light-gray: #7c7c7c;

$padding-content_320: 0 25px 0 25px;
$padding-content_768: 0 80px 0 90px;
$padding-content_1170: 0 28px 0 215px;

$base-font-size: 14px;
$base-line-height: 1.5;

$base-font-family: "Roboto", sans-serif;




$fontFamilyM: "Montserrat", sans-serif;
$fontFamilyL: "Lato", sans-serif;


$maxWidthContainer: 1200px;
$minWidthContainer: 320px;
$githubBtnBorderColor: rgb(211, 211, 211);
$revolutionaryTextColor: #323232;
$revolutionaryTitleColor: #635c73;
$fw4: 400;
$fw7: 700;

$featureTitleColor: #8D81AC;
$featureBG: #F4F4F4;
